.nav{
    display:flex;
    flex-flow: column;
    position: fixed;
}

.header {
    width:150px;
    margin: 20px;
}

.container {
    display: flex;
    flex-flow: row;
}

.errMsg {
    background-color: red;
}

.successMsg {
    background-color: green;
}

.outlet {
    margin-left: 100px;
}
