.container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.formElement {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}